.l-footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 65px;
  &__container {
    max-width: 1070px;
    margin: auto;
    padding: 0 20px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contact {
    & > li > p {
      font-size: 1.4rem;
      color: #282828;
      text-align: left;
    }
  }
  &__logo {
    text-align: right;
    & > p {
      font-size: 1.2rem;
      color: #282828;
      letter-spacing: 2px;
      margin-top: 10px;
    }
  }
}
