.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 800px;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;

  @include mq(xl, max) {
    position: absolute;
  }

  &__nav {
    position: absolute;
    top: 66px;
    left: -2px;
    pointer-events: all;
    & > ul > * ~ * {
      margin-top: 16px;
    }
    & > ul > li {
      background-image: url(../images/point/pointLabel.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 22px;
      width: 200px;
      height: 40px;
      & > a {
        font-size: 1.6rem;
        color: #fff;
        line-height: 40px;
        letter-spacing: 1.5px;
      }
      &:nth-child(even) {
        margin-top: 14px;
      }
    }
  }

  &__leaf1 {
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translateX(-273px);
    transition: all 0.7s ease-in-out;
  }

  &__leaf2 {
    position: absolute;
    bottom: -20px;
    right: -32px;
    transition: all 0.7s ease-in-out;
  }

  &__drop6 {
    position: absolute;
    top: 87px;
    left: 50%;
    transform: translateX(-412px);
    transition: all 2s ease-in-out;
    animation: drop6 4s ease-in-out infinite;
  }

  &__drop5 {
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(139px);
    transition: all 2s ease-in-out;
    animation: drop5 4s ease-in-out infinite;
  }

  &__drop4 {
    position: absolute;
    top: 111px;
    left: 50%;
    transform: translateX(610px);
    transition: all 2s ease-in-out;
    animation: drop4 4s ease-in-out infinite;
  }

  &__drop3 {
    position: absolute;
    top: 548px;
    left: 50%;
    transform: translateX(399px);
    transition: all 2s ease-in-out;
    animation: drop3 4s ease-in-out infinite;
  }

  &__drop2 {
    position: absolute;
    top: 560px;
    left: 50%;
    transform: translateX(-398px);
    transition: all 2s ease-in-out;
    animation: drop2 4s ease-in-out infinite;
  }

  &__drop1 {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-647px);
    transition: all 2s ease-in-out;
    animation: drop1 4s ease-in-out infinite;
  }

  &.is-active &__container {
    .c-header__leaf1 {
      transform: translate(-100%, -50px);
    }
    .c-header__leaf2 {
      transform: translateX(50px);
    }

    @for $i from 1 through 6 {
      .c-header__drop#{$i} {
        top: -150px;
        transition: all 1s ease-in-out;
      }
    }
  }

  &__menuMobile {
    display: none;
  }
}

// @keyframes drop6 {
//   0% {
//     transform: translate(-412px, -10px);
//   }
//   50% {
//     transform: translate(-412px, 10px);
//   }
//   100% {
//     transform: translate(-412px, -10px);
//   }
// }
// @keyframes drop5 {
//   0% {
//     transform: translate(139px, 10px);
//   }
//   50% {
//     transform: translate(139px, -10px);
//   }
//   100% {
//     transform: translate(139px, 10px);
//   }
// }
// @keyframes drop4 {
//   0% {
//     transform: translate(610px, -10px);
//   }
//   50% {
//     transform: translate(610px, 10px);
//   }
//   100% {
//     transform: translate(610px, -10px);
//   }
// }
// @keyframes drop3 {
//   0% {
//     transform: translate(399px, 10px);
//   }
//   50% {
//     transform: translate(399px, -10px);
//   }
//   100% {
//     transform: translate(399px, 10px);
//   }
// }
// @keyframes drop2 {
//   0% {
//     transform: translate(-398px, -10px);
//   }
//   50% {
//     transform: translate(-398px, 10px);
//   }
//   100% {
//     transform: translate(-398px, -10px);
//   }
// }
// @keyframes drop1 {
//   0% {
//     transform: translate(-647px, 10px);
//   }
//   50% {
//     transform: translate(-647px, -10px);
//   }
//   100% {
//     transform: translate(-647px, 10px);
//   }
// }
