.p-banner {
  padding-top: 105px;
  padding-bottom: 16px;
  &__container {
    max-width: 1090px;
    margin: auto;
    padding: 0 30px;
  }

  &__bg1 {
    background-image: url(../images/banner1.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 50px;
    position: relative;
  }

  &__bg2 {
    background-image: url(../images/banner2.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    border-radius: 50px;
    position: relative;
    & > figure {
      position: absolute;
      background-color: transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    & > h3 {
      margin-bottom: 1px;
      color: #333333;
      font-weight: 400;
      font-size: 2rem;
      font-family: Hiragino Mincho Pro;
      text-align: center;
      line-height: 1.4;
      margin-right: 14px;
    }
    & > h2 {
      color: #333333;
      font-weight: 400;
      font-size: 4.5rem;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 1.1;
    }
  }
}
