.p-intro {
  margin-bottom: -6px;
  &__container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
  }

  &__content {
    margin-top: 35px;
    padding-bottom: 31px;
    border-bottom: 1px solid #176b6a;
    & > dt {
      display: flex;
    }

    & > dd {
      position: relative;
      margin-top: 20px;
      padding-right: 43px;
      color: #333333;
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 1.4px;
      & > figure {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-85%);
      }
    }
  }

  &__title {
    padding-top: 22px;
    @include mq(md, max) {
      padding-top: 0;
      padding-right: 20px;
    }
    & > h3 {
      font-size: 1.4rem;
      color: #333333;
      line-height: 22px;
      letter-spacing: 1.4px;
      @include mq(md, max) {
        font-size: 2.2rem;
        line-height: 2;
        letter-spacing: 2.2px;
      }
    }
    & > h2 {
      font-size: 2.5rem;
      color: #333333;
      line-height: 1.2;
      letter-spacing: 2.5px;
      @include mq(md, max) {
        font-size: 3rem;
        line-height: 1.7;
        letter-spacing: 3px;
      }
    }
  }

  @for $i from 1 through 11 {
    &__image#{$i} {
      background-image: url(../images/intro/img_column#{$i}.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 275px;
      height: 100px;
      border-radius: 10px;
      position: relative;
      margin-right: 15px;
      @include mq(md, max) {
        background-image: none;
        min-width: 159px;
        width: 159px;
        height: auto;
        margin-right: 20px;
        margin-top: 11px;
        border-radius: 0;
      }
      & > img {
        position: absolute;
        left: 15px;
        bottom: 18px;
        @include mq(md, max) {
          position: relative;
          left: auto;
          bottom: auto;
          width: 159px;
          height: 65px;
        }
      }
    }
  }
}
