.p-point {
  background-image: url(../images/bgPoint.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
  }

  &__wrapper {
    padding-top: 100px;
    padding-bottom: 110px;
    & > p {
      font-size: 1.2rem;
      color: #333333;
      text-align: center;
      line-height: 1;
      margin-top: 48px;
      letter-spacing: -1.1px;
    }
  }

  &__content {
    max-width: 1050px;
    margin: auto;
    margin-bottom: 107px;
    padding: 0 10px;
  }

  &__heading {
    max-width: 810px;
    margin: auto;
    padding: 0 10px;
    display: flex;
  }

  &__number {
    margin-right: 28px;

    & > figure {
      position: relative;
      width: fit-content;
      &::after {
        content: "";
        width: 35px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
      }
    }
  }

  &__number > p {
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.182;
    margin-top: 32px;
  }

  &__title {
    & > h2 {
      font-size: 3.6rem;
      color: #176b6a;
      line-height: 1;
      margin-top: 3px;
      margin-bottom: 22px;
      letter-spacing: 3.7px;
    }

    & > p {
      font-size: 1.4rem;
      color: rgb(0, 0, 0);
      line-height: 1.857;
      margin-left: 3px;
      letter-spacing: 1.4px;
    }
  }

  &__list {
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  &__wrapItem {
    width: 33.33%;
    padding: 10px;
  }

  &__Item {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
  }

  @for $i from 1 through 9 {
    &__Item#{$i} {
      background-image: url("../images/point/item#{$i}.png");
    }

    #p-point__Item#{$i}:checked {
      & + .p-point__info {
        display: flex;
      }
    }
  }

  &__info {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 26px;
    text-align: center;
    padding: 0 45px;
    z-index: 1;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    & > h3 {
      font-size: 2.4rem;
      color: #176b6a;
      line-height: 1.083;
      position: relative;
      letter-spacing: 2px;
      margin-bottom: 30px;
      &::after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 1px;
        background-color: #176b6a;
      }
    }

    & > p {
      font-size: 1.2rem;
      color: #000000;
      line-height: 1.75;
      text-align: left;
      letter-spacing: 1.2px;
    }
  }

  &__label {
    max-width: 100%;
    position: relative;
    margin-top: 30px;
    & > span {
      width: 100%;
      font-size: 1.6rem;
      font-family: "Sawarabi Mincho";
      color: #ffffff;
      font-weight: 400;
      line-height: 1.625;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 1.5px;
    }
  }

  &__btnMore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  &__partner {
    width: 100%;
    padding-top: 7px;
    & > h2 {
      font-size: 3rem;
      color: #176b6a;
      text-align: center;
      line-height: 1;
      margin-bottom: 48px;
      letter-spacing: 3px;
    }
  }
  &__partnerList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  &__partnerWrap {
    width: 25%;
    padding: 10px;
  }
  &__partnerItem {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 110px;
  }
  &__partnerLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__partnerArrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
