.p-products {
  padding-top: 100px;
  height: 688px;
  @include mq(lg, max) {
    height: auto;
    padding-bottom: 100px;
  }
  @include mq(sm, max) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  &__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
    @include mq(md, max) {
      padding: 0 30px;
    }
    @include mq(sm, max) {
      padding: 0 20px;
    }
  }

  &__wrapper {
    padding: 0 20px;
    position: relative;
    @include mq(sm, max) {
      padding: 0 10px;
    }
  }

  &__label--sm {
    display: none;
    @include mq(md, max) {
      display: block;
    }
    @include mq(sm, max) {
      width: 126.5px;
      height: 18px;
    }
  }

  &__title {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    @include mq(lg, max) {
      top: -15px;
    }
    @include mq(md, max) {
      top: -115px;
      width: 100%;
    }
    @include mq(sm, max) {
      top: -57.5px;
    }
    & > span {
      font-size: 2rem;
      color: #000;
      text-align: center;
      letter-spacing: 2px;
      margin-right: 8px;
      @include mq(sm, max) {
        letter-spacing: 1px;
        margin-right: 4px;
      }
    }
    & > h2 {
      font-size: 4.6rem;
      line-height: 50px;
      color: #000;
      text-align: center;
      letter-spacing: 9px;
      @include mq(sm, max) {
        line-height: 25px;
        letter-spacing: 4.5px;
      }
    }
  }

  &__list1 {
    display: flex;
    justify-content: center;
    margin: -20px;
    @include mq(xl, max) {
      margin: -5px;
    }
    @include mq(lg, max) {
      flex-wrap: wrap;
    }
    @include mq(md, max) {
      margin-top: 100px;
    }
    @include mq(sm, max) {
      margin-top: 50px;
      margin: -2.5px;
    }
  }

  &__list2 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 10px;
    @include mq(lg, max) {
      flex-wrap: wrap;
    }
    @include mq(sm, max) {
      margin-left: 5px;
    }
  }

  &__list2 &__wrapItem {
    @include mq(lg, max) {
      width: 50%;
    }
    @include mq(md, max) {
      width: 100%;
    }
  }

  &__label {
    position: absolute;
    top: -52px;
    left: 0;
    @include mq(sm, max) {
      top: -26px;
    }
  }

  &__list1 &__wrapItem {
    padding: 20px;

    @include mq(xl, max) {
      padding: 5;
    }
    @include mq(lg, max) {
      width: 50%;
    }
    @include mq(md, max) {
      width: 100%;
    }
    @include mq(sm, max) {
      padding: 2.5px;
    }
  }

  &__list1 &__Item1 {
    position: relative;
    margin-top: 52px;
    width: 172px;
    @include mq(lg, max) {
      margin-top: 93px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(md, max) {
      padding-left: 120px;
      width: 100%;
    }
    @include mq(sm, max) {
      padding-left: 60px;
      margin-top: 46.5px;
    }
    & .p-products__info {
      transform: translateY(-35px);
      padding-left: 6px;
      @include mq(lg, max) {
        transform: translateY(-15px);
        right: 35px;
        padding-left: 0;
      }
      @include mq(md, max) {
        transform: translateY(-15px);
        right: unset;
        left: 32%;
        padding-left: 18px;
      }
      @include mq(sm, max) {
        transform: translateY(-7.5px);
        padding-left: 9px;
      }
    }
    & .p-products__label {
      @include mq(lg, max) {
        left: 30px;
      }
      @include mq(sm, max) {
        left: 15px;
      }
      & > img:first-child {
        @include mq(md, max) {
          display: none;
        }
      }
    }

    & .p-products__image > img {
      @include mq(md, max) {
        width: 60px;
        height: 156px;
      }
      @include mq(sm, max) {
        width: 30px;
        height: 78px;
      }
    }
  }
  &__list2 &__Item1 {
    position: relative;
    width: 229px;
    margin-top: 95px;
    @include mq(xl, max) {
      width: 180px;
    }
    @include mq(lg, max) {
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 30px;
    }
    @include mq(md, max) {
      margin-top: 15px;
    }

    & .p-products__image > img {
      @include mq(md, max) {
        width: 75px;
        height: 146px;
      }
      @include mq(sm, max) {
        width: 37.5px;
        height: 73px;
      }
    }

    & .p-products__info {
      transform: translateY(-36px);
      right: 16px;
      padding-left: 11px;
      line-height: 26px;
      @include mq(xl, max) {
        width: 55%;
        padding-left: 0;
      }
      @include mq(md, max) {
        width: auto;
        right: auto;
        left: 75px;
        transform: translateY(-50%);
        padding-left: 15px;
        line-height: 1.5;
      }
      @include mq(sm, max) {
        left: 37.5px;
        padding-left: 7.5px;
      }
    }
  }
  &__list1 &__Item2 {
    position: relative;
    margin-top: 93px;
    width: 226px;
    @include mq(xl, max) {
      width: 180px;
    }
    @include mq(lg, max) {
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 20px;
    }
    @include mq(sm, max) {
      margin-top: 10px;
    }
    & .p-products__info {
      transform: translateY(-25px);
      padding-left: 8px;
      right: -1px;
      @include mq(xl, max) {
        width: 70%;
        padding-left: 0;
      }
      @include mq(md, max) {
        padding-left: 0;
        padding-right: 15px;
        width: fit-content;
        right: 70px;
        transform: translateY(-50%);
        width: auto;
      }
      @include mq(sm, max) {
        padding-right: 7.5px;
        right: 35px;
        width: auto;
      }
    }
    & .p-products__image {
      @include mq(md, max) {
        text-align: right;
      }
      & > img {
        @include mq(md, max) {
          width: 71px;
          height: 171px;
        }
        @include mq(sm, max) {
          width: 35.5px;
          height: 85.5px;
        }
      }
    }
  }
  &__list2 &__Item2 {
    position: relative;
    width: 237px;
    margin-top: 145px;
    padding-left: 2px;
    @include mq(xl, max) {
      width: 210px;
    }
    @include mq(lg, max) {
      margin-left: 50px;
      margin-top: 120px;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 120px;
      margin-left: 0;
    }
    @include mq(sm, max) {
      margin-top: 60px;
      padding-left: 1px;
    }
    & .p-products__label {
      top: -57px;
      left: 2px;
      @include mq(md, max) {
        top: -100px;
        left: auto;
        right: 70px;
      }
      @include mq(sm, max) {
        top: -50px;
        right: 35px;
      }
      & > img {
        @include mq(md, max) {
          width: 213px;
          height: 120px;
        }
        @include mq(sm, max) {
          width: 106.5px;
          height: 60px;
        }
      }
    }
    & .p-products__image {
      @include mq(md, max) {
        text-align: right;
      }
      & > img {
        @include mq(md, max) {
          width: 218px;
          height: 143px;
        }
        @include mq(sm, max) {
          width: 109px;
          height: 71.5px;
        }
      }
    }
    & .p-products__info {
      right: -4px;
      padding-left: 50px;
      transform: translateY(2px);
      line-height: 26px;
      @include mq(xl, max) {
        padding-left: 10px;
      }
      @include mq(lg, max) {
        right: -30px;
      }
      @include mq(md, max) {
        width: auto;
        padding-left: 0;
        padding-right: 60px;
        right: 170px;
        transform: translateY(-93%);
        line-height: 1.5;
      }
      @include mq(sm, max) {
        padding-right: 30px;
        right: 85px;
      }
    }
  }
  &__list1 &__Item3 {
    position: relative;
    margin-top: 93px;
    width: 286px;
    @include mq(xl, max) {
      width: 220px;
    }
    @include mq(xl, max) {
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 20px;
    }
    @include mq(sm, max) {
      margin-top: 10px;
    }
    & .p-products__info {
      transform: translateY(-25px);
      padding-left: 20px;
      right: 3px;
      @include mq(xl, max) {
        width: 60%;
        padding-left: 0;
      }
      @include mq(md, max) {
        width: auto;
        left: 90px;
        right: unset;
        padding-left: 15px;
      }
      @include mq(sm, max) {
        transform: translateY(-12.5px);
        left: 45px;
        right: auto;
        padding-left: 7.5px;
      }
    }

    & .p-products__image > img {
      @include mq(md, max) {
        width: 90px;
        height: 141px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
      @include mq(sm, max) {
        width: 45px;
        height: 70.5px;
      }
    }
  }
  &__list2 &__Item3 {
    position: relative;
    margin-top: 117px;
    width: 226px;
    @include mq(xl, max) {
      width: 200px;
    }
    @include mq(lg, max) {
      margin-top: 100px;
      margin-right: 100px;
      margin-left: auto;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 30px;
      margin-right: 0;
      padding-left: 10px;
    }
    @include mq(sm, max) {
      margin-top: 15px;
      padding-left: 5px;
    }
    & .p-products__image > img {
      @include mq(sm, max) {
        width: 63.5px;
        height: 54px;
      }
    }
    & .p-products__info {
      transform: translateY(-34px);
      left: 2px;
      padding-right: 15px;
      @include mq(xl, max) {
        padding-right: 0;
        left: -10px;
      }
      @include mq(lg, max) {
        right: -45px;
        left: unset;
        text-align: left;
      }
      @include mq(md, max) {
        right: auto;
        width: auto;
        left: 130px;
        padding-left: 20px;
        transform: translateY(-38px);
      }
      @include mq(sm, max) {
        left: 65px;
        padding-left: 10px;
        transform: translateY(-19px);
      }
    }
  }
  &__list1 &__Item4 {
    position: relative;
    margin-top: 52px;
    width: 260px;
    @include mq(xl, max) {
      width: 180px;
    }
    @include mq(lg, max) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 70px;
    }
    @include mq(sm, max) {
      margin-top: 35px;
    }
    & .p-products__image {
      @include mq(md, max) {
        text-align: right;
        padding-right: 96px;
      }
      @include mq(sm, max) {
        padding-right: 48px;
      }
      & > img {
        @include mq(md, max) {
          width: 60px;
          height: 203px;
        }
        @include mq(sm, max) {
          width: 30px;
          height: 101.5px;
        }
      }
    }

    & .p-products__info {
      transform: translateY(-14px);
      right: 1px;
      @include mq(xl, max) {
        width: 70%;
        padding-left: 0;
      }
      @include mq(md, max) {
        right: 155px;
        padding-right: 15px;
        width: auto;
      }
      @include mq(sm, max) {
        transform: translateY(-7px);
        right: 77.5px;
        padding-right: 7.5px;
      }
    }

    & .p-products__label {
      @include mq(md, max) {
        left: auto;
        right: 0;
        transform: translateX(0);
      }
      @include mq(sm, max) {
        top: -26px;
      }
    }

    & .p-products__label > img:first-child {
      @include mq(md, max) {
        display: none;
      }
    }
  }
  &__list2 &__Item4 {
    position: relative;
    margin-top: 30px;
    width: 257px;
    @include mq(xl, max) {
      width: 200px;
    }
    @include mq(lg, max) {
      margin-top: 100px;
      margin-left: 30px;
    }
    @include mq(md, max) {
      width: 100%;
      margin-top: 30px;
      margin-left: 0;
    }
    @include mq(sm, max) {
      margin-top: 15px;
    }
    & .p-products__image {
      @include mq(md, max) {
        text-align: right;
      }
      & > img {
        @include mq(sm, max) {
          width: 81px;
          height: 57.5px;
        }
      }
    }
    & .p-products__info {
      left: -30px;
      padding-right: 30px;
      transform: translateY(-40px);
      line-height: 28px;
      @include mq(xl, max) {
        width: 35%;
        padding-right: 0;
      }
      @include mq(lg, max) {
        width: 50%;
        right: -60px;
        left: unset;
        text-align: left;
      }
      @include mq(md, max) {
        width: auto;
        right: 150px;
        transform: translateY(-50%);
        line-height: 1.5;
        padding-right: 30px;
      }
      @include mq(sm, max) {
        right: 75px;
        padding-right: 15px;
      }
    }
  }

  &__Item4 &__label {
    position: absolute;
    top: -52px;
    left: 20px;
    transform: translateX(-50%);
  }

  &__Item1 &__image {
    margin-left: 50px;
    @include mq(lg, max) {
      margin-left: 0px;
    }
  }

  &__list2 &__Item1 &__image {
    margin-left: 0;
  }

  &__Item4 &__image {
    margin-left: 0;
  }

  &__Item3--reverse &__image,
  &__Item4--reverse &__image {
    text-align: right;
    @include mq(lg, max) {
      text-align: left;
    }
  }

  &__info {
    font-size: 1.4rem;
    color: #000;
    line-height: 1.5;
    border-bottom: 2px dotted #494949;
    padding-left: 17px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    letter-spacing: 1.2px;
    @include mq(xl, max) {
    }
    @include mq(lg, max) {
      font-size: 2.6rem;
      letter-spacing: 2.6px;
    }
    @include mq(md, max) {
      font-size: 2.6rem;
    }
    @include mq(sm, max) {
      padding-left: 8.5px;
      letter-spacing: 1.3px;
      transform: translateY(-50%);
      border-bottom: 1px dotted #494949;
    }
  }

  &__Item3--reverse &__info,
  &__Item4--reverse &__info {
    padding-left: 0;
    padding-right: 17px;
    position: absolute;
    top: 50%;
    left: 0;
    right: unset;
    transform: translateY(-50%);
  }
}
