<% const basePath='.' ; const title='Task03 - HOME' ; const description='' ;
const keyword='' ; %>
<html lang="ja">
  <head>
    <%- include('partials/_head', { basePath, title, description, keyword }); %>
  </head>

  <body>
    <div class="l-wrapper">
      <%- include('layout/_header', { basePath }); %>

      <main class="l-main">
        <section class="p-hero">
          <div class="p-hero__container">
            <div class="p-hero__wrapper">
              <div class="p-hero__content">
                <figure>
                  <img
                    src="./assets/images/texts/headerTitle.png"
                    alt="textTitle"
                  />
                </figure>
                <h4>MENTHA OIL</h4>
                <div class="p-hero__info">
                  <span>ハッカ油は、毎日の暮らしを豊かにする</span>
                  <p>魔法のしずく</p>
                </div>
                <a href="#">
                  <p>ハッカ？ミント？</p>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- end hero section -->

        <section class="p-products">
          <div class="p-products__container">
            <div class="p-products__wrapper">
              <div class="p-products__title">
                <h3>使い方いろいろ</h3>
                <h2>毎日にハッカ油</h2>
              </div>
              <div class="p-products__menu">
                <div class="p-products__list1">
                  <div class="p-products__wrapItem">
                    <a href="#" class="p-products__Item1">
                      <figure class="p-products__label">
                        <img
                          src="./assets/images/label/prodLabel.png"
                          alt="prodLabel"
                        />
                      </figure>
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list1-Item1.png"
                          alt="list1Item1"
                        />
                      </figure>
                      <p class="p-products__info">ハッカ水</p>
                    </a>
                  </div>
                  <div class="p-products__wrapItem">
                    <a href="#" class="p-products__Item2">
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list1-Item2.png"
                          alt="list1Item2"
                        />
                      </figure>
                      <p class="p-products__info">ハッカの虫除けスプレー</p>
                    </a>
                  </div>
                  <div class="p-products__wrapItem">
                    <a href="#" class="p-products__Item3">
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list1-Item3.png"
                          alt="list1Item3"
                        />
                      </figure>
                      <p class="p-products__info">ハッカのリネンウォーター</p>
                    </a>
                  </div>
                  <div class="p-products__wrapItem">
                    <a href="#" class="p-products__Item4">
                      <figure class="p-products__label">
                        <img
                          src="./assets/images/label/prodLabel.png"
                          alt="prodLabel"
                        />
                      </figure>
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list1-Item4.png"
                          alt="list1Item4"
                        />
                      </figure>
                      <p class="p-products__info">ハッカのエアフレッシュナー</p>
                    </a>
                  </div>
                </div>
                <div class="p-products__list2">
                  <div class="p-products__wrapItem">
                    <a href="#" class="p-products__Item1">
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list2-Item1.png"
                          alt="list2Item1"
                        />
                      </figure>
                      <p class="p-products__info">ハッカの清涼スプレー</p>
                    </a>
                  </div>
                  <div class="p-products__wrapItem">
                    <a href="#" class="p-products__Item2">
                      <figure class="p-products__label">
                        <img
                          src="./assets/images/prods/recom-label.png"
                          alt="recomLabel"
                        />
                      </figure>
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list2-Item2.png"
                          alt="list2Item2"
                        />
                      </figure>
                      <p class="p-products__info">ハッカマスク</p>
                    </a>
                  </div>
                  <div class="p-products__wrapItem">
                    <a
                      href="#"
                      class="p-products__Item3 p-products__Item3--reverse"
                    >
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list2-Item3.png"
                          alt="list2Item3"
                        />
                      </figure>
                      <p class="p-products__info">ハッカで安息</p>
                    </a>
                  </div>
                  <div class="p-products__wrapItem">
                    <a
                      href="#"
                      class="p-products__Item4 p-products__Item4--reverse"
                    >
                      <figure class="p-products__image">
                        <img
                          src="./assets/images/prods/list2-Item4.png"
                          alt="list2Item4"
                        />
                      </figure>
                      <p class="p-products__info">ハッカの入浴剤</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end products section -->

        <section class="p-point">
          <div class="p-point__container">
            <div class="p-point__wrapper">
              <div class="p-point__content">
                <div class="p-point__heading">
                  <div class="p-point__number">
                    <figure>
                      <img src="./assets/images/point/num1.png" alt="num1" />
                    </figure>
                    <p>POINT</p>
                  </div>
                  <div class="p-point__title">
                    <h2>気持ちリフレッシュ</h2>
                    <p>
                      鼻や口から入った香りの信号は、視床下部などに直接作用し
                    </p>
                    <p>気分をリフレッシュさせてくれます。</p>
                  </div>
                </div>
                <div class="p-point__list">
                  <div class="p-point__wrapItem">
                    <div class="p-point__Item">
                      <div class="p-point__info">
                        <h3>部屋干しも安心</h3>
                        <p>湿気の多い梅雨の季節の部屋干し</p>
                        <p>にはハッカ油が大活躍！ 優しい自</p>
                        <p>然な香りですっきりさわやか。</p>
                        <div class="p-point__label">ハッカ油コラムへ</div>
                      </div>
                    </div>
                  </div>
                  <div class="p-point__wrapItem">
                    <div class="p-point__Item">
                      <div class="p-point__info">
                        <h3>部屋干しも安心</h3>
                        <p>湿気の多い梅雨の季節の部屋干し</p>
                        <p>にはハッカ油が大活躍！ 優しい自</p>
                        <p>然な香りですっきりさわやか。</p>
                        <div class="p-point__label">ハッカ油コラムへ</div>
                      </div>
                    </div>
                  </div>
                  <div class="p-point__wrapItem">
                    <div class="p-point__Item">
                      <div class="p-point__info">
                        <h3>部屋干しも安心</h3>
                        <p>湿気の多い梅雨の季節の部屋干し</p>
                        <p>にはハッカ油が大活躍！ 優しい自</p>
                        <p>然な香りですっきりさわやか。</p>
                        <div class="p-point__label">ハッカ油コラムへ</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include('layout/_footer', { basePath }); %>
    </div>
  </body>
</html>
